streamlit==1.22.0
#os-sys==2.1.4
#jsonlib==1.6.1
regex==2023.6.3
pandas==1.5.3
toml==0.10.2
pinecone-client==2.2.2
openai==0.27.7
langchain==0.0.200
spacy==3.5.3
setuptools==66.0.0
sentence_transformers==2.2.2